.comments-page-background {
    background-color: white;
}

.discussion {
    background-color: #F25F5C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-bottom: 100px;
    color: white;
}

.discussion-bar {
    background-color: black;
    width: 1200px;
    height: 10px;
    margin-left: 100px;
}

.comments {
    width: 600px;
    margin-left: 400px;
    padding: 20px;
}

/* .avi-div {} */

.avi {
    width: 100px;
    margin-right: 40px;
}

.username-and-edit {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.username {
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: row;
}

.comment-text {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    text-align: start;
}

.comment-p {
    font-weight: bold;
}

.center-red {
    display: flex;
    justify-content: center;
}

.more-button {
    margin-left: 600px;
}

.add-button {
    background-color: #F25F5C;
    border-radius: 5px;
    margin: 100px;
    width: 150px;
    padding: 10px;
}

.add-button:hover {
    background-color: #ef3734;
}

.thanks-text {
    margin-left: 700px;
}

.discussion-bar-2 {
    background-color: black;
    width: 800px;
    height: 10px;
    margin-left: 500px;
}

.end-buttons {
    display: flex;
    flex-direction: row;
    margin: 100px;
}

.end-back {
    border: solid 2px black;
    border-radius: 5px;
    margin: 10px;
    width: 150px;
    padding: 10px;
}

.end-back:hover {
    background-color: lightgrey;
}

.right-end-buttons {
    display: flex;
    flex-direction: row;
    margin-left: 600px;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.edit-link {
    /* text-decoration: none; */
    color: grey;
    font-weight: bold;
}

.edit-link:hover {
    /* text-decoration: none; */
    color: black;
    font-weight: bold;
}