.NavBar {
    display: flex;
    justify-content: center;
  }
  
  .NavBar-link {
    margin: 10px;
    text-decoration: none;
    color: black;
  }

  .NavBar-welcome {
    color: grey;
    margin: 10px;
  }

  .NavBar-link:hover {
    font-weight: bold;
  }
